{{template "header" .}}
<link rel="stylesheet" href="assets/success.css" crossorigin="anonymous">
<div class="content">
    <h1>操作成功</h1>
    <p>现在，请您重启应用程序，并按照之后的指引完成</p>
</div>
{{template "footer" .}}